<form method="post" action="/suppliers/<%= @supplier.id %>">

  <label for="name-field">Enter Updated Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @supplier.name %>"
  />

  <label for="email-field">Enter Updated Email Address:</label>
  <input
  type="text"
  name="email"
  id="email-field"
  value="<%= @supplier.email %>"
  />

  <label for="phone-field">Enter Updated Phone Number:</label>
  <input
  type="number"
  name="phone"
  id="phone-field"
  value="<%= @supplier.phone %>"
  />


  <input type='submit' value="Submit">
</form>


</form>
  <form method = "post" action="/suppliers/<%= @supplier.id %>/delete" >
  <input type="submit" value="Delete Supplier" />
</form>
