<form class="supplier_edit_table" method="post" action="/suppliers/<%= @supplier.id %>">

  <label for="name-field">Enter Updated Name:</label>
  <input
  required
  type="text"
  name="name"
  id="name-field"
  value="<%= @supplier.name %>"
  />
  <br>

  <label for="email-field">Enter Updated Email Address:</label>
  <input
  required
  type="text"
  name="email"
  id="email-field"
  value="<%= @supplier.email %>"
  />
  <br>

  <label for="phone-field">Enter Updated Phone Number:</label>
  <input class="supplier-phone-field"
  required
  type="number"
  name="phone"
  id="phone-field"
  value="<%= @supplier.phone %>"
  />
  <br>


  <input class="big-btn-supplier" type='submit' value="Submit">
</form>


</form>
<form method = "post" action="/suppliers/<%= @supplier.id %>/delete" >
  <input class="big-btn-supplier-delete" type="submit" value="Delete Supplier" />
</form>
