
<table class="supplier_table" align="left">
  <tr>
    <th>Name</th><th>
      Email</th><th>Phone</th>
    </th>
  </th>
</tr>
<% for supplier in @suppliers %>
<tr>
  <td>
    <a href="/suppliers/<%= supplier.id %>/edit">  <%= supplier.name()  %></a>

  </td>
  <td>
    <%= supplier.email()%>
  </td>
  <td>
    <%= supplier.phone()%>
  </td>

  <td>
    <p><a href="/suppliers/<%= supplier.id %>/edit">Edit</a></p>
  </td>
</tr>
<% end  %>

</table>
