<div class="edit_form">
  <form method="post" action="/products/<%= @product.id %>">


    <label for="upn-field">Unique Product No:</label>
    <input
    readonly="readonly"
    type="number"
    name="upn"
    id="upn-field"
    value="<%= @product.upn %>"
    />
    <br>


    <label for="description-field">Description:</label>
    <input
    required
    class="description-input-box"
    type="text"
    name="description"
    id="description-field"
    value="<%= @product.description %>"
    />
    <br>

    <label for="cost_price-field">Cost Price(£):</label>
    <input
    required
    type="number"
    name="cost_price"
    id="cost_price-field"
    value="<%= @product.cost_price %>"
    />
    <br>

    <label for="retail_price-field">Retail Price(£):</label>
    <input
    required
    type="number"
    name="retail_price"
    id="retail_price-field"
    value="<%= @product.retail_price %>"
    />
    <br>

    <label for="supplier">Supplier ID:</label>
    <select  id="supplier" name="supplier_id">
      <% for supplier in @suppliers  %>
      <option value="<%=supplier.id %>"><%=supplier.name %></option>
      <% end  %>
    </select>
    <br>
    <input class="big-btn-edit" type='submit' value="Submit">

  </form>
  <form method = "post" action="/products/<%= @product.id %>/delete" >
    <input class="big-btn-edit" type="submit" value="Delete Product" />

  </form>
</div>
