
<form class="upn" action="/products/search" method="post">
  <label for="upn-field"></label>
  <input
  type="number"
  name="upn"
  id="upn-field"><input type='submit' value="Submit">
</form>

<table class="stock_table">
  <tr>
    <th>Unique <br/>Product No</th>
  <th>Description</th><th>
    Cost <br>Price</th><th>Retail Price</th><th>Item Markup</th><th>Markup %</th><th>Supplier<br>ID</th><th>Current <br> Bookstock</th><th></th><th>Qty<br>Sold</th><th>Qty<br> Delivered</th>
  </th>
  </tr>
  <% for product in @products %>
<tr>
  <td>
    <%= product.upn()  %>
  </td>
  <td> <a href="/products/<%= product.id %>/edit"><%= product.description()  %></a>

  </td>
  <td>
    <%= product.convert_to_cash(product.cost_price()) %>
  </td>
  <td>
    <%= product.convert_to_cash(product.retail_price) %>
  </td>
  <td>
    <%= product.convert_to_cash(product.markup())  %>
  </td>
  <td>
    <%= product.get_markup_percentage() %>
  </td>
  <td>
    <%= product.supplier.name %>
  </td>

  <td>
    <%= product.bookstock()  %>
  </td>
  <td class="<%= product.check_stock %>">
    <%= product.return_stock_warning %>
  </td>
  <td>
    <form class="sold" action="/products/<%= product.id %>/sell" method="post">
      <label for="qty-field"></label>
      <input
      type="number"
      name="qty"
      id="qty-field"><input type='submit' value="Submit">
    </form>
  </td>
  <td>
    <form class="delivered" action="/products/<%= product.id %>/delivered" method="post">
      <label for="delivered-field"></label>
      <input
      type="number"
      name="delivered"
      id="delivered-field"><input type='submit' value="Submit">
  </form>
  </td>
  <td>
  <p><a href="/products/<%= product.id %>/edit">Edit</a></p>
  </td>
</tr>
<% end  %>

</table>
